<% 
let page = 'home' //ページ名
;%>
<%- include('./_template-part/_head',{page:page});%>
<%- include('./_template-part/_header',{page:page});%>
<main class="main">
<div class="test"><canvas class="webgl"></canvas></div>
</main>
<%- include('./_template-part/_footer',{page:page}) ;%>