@use "../variables/variables";
@use "../mixin/mixin";

/* ======================================================
# フッターナビ
======================================================= */

.fnav {
  $this: &;

  &_links {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-items: start;
    li {
      margin-top: 36px;
    }

    @include mixin.large {
      //タブレット大・ノートPC（1024px）
      height: 50%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }
}
